<li class="nav-item dropdown">
    <div class="nav-dropdown">
        <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i><span class="nav-link-text">Account</span><i style="font-size: .8em;" class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end nav-link-menu">
            <ul class="nav-list">
                <li><a id="logoutBtn" href="index.html" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</li>
